.question {
  margin: 1rem;
  padding: 1.75rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
}

.question p {
  margin: 0;
  line-height: 1.5;
}
