.container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  border-radius: 3rem;
  box-shadow: 2.5rem 2.5rem 2rem 0px rgba(0, 0, 0, 0.75);
}

.categoryColumn {
  margin: 1rem;
  padding: 1.75rem;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.categoryContainer {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3rem;
  box-shadow: 2.5rem 2.5rem 2rem 0px rgba(0, 0, 0, 0.75);
  border: 1px solid rgb(206, 206, 206);
  cursor: pointer;
}

.category {
  user-select: none;
  margin: 1rem;
  padding: 1.75rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.category h1 {
  margin: 0;
  line-height: 1.5;
}

.question {
  width: 80%;
  height: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1.5rem 1.5rem 1rem 0px rgba(0, 0, 0, 0.75);
  margin-top: 4rem;
  padding: 2rem;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40rem;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 0.5rem;
}
