.content {
  width: 100%;
  align-content: left;
  justify-content: center;
  display: flex;
  margin: 0.5rem 0;
  border-top: 1px solid #c1c1c1;
}

.content > input {
  font-size: 2rem;
}

.nameInput {
  align-self: flex-start;
  flex-grow: 1;
}
.numberContainer {
  align-self: stretch;
  display: flex;
}

.number {
  display: flex;
  align-items: center;
  justify-items: center;
}

.number > span {
  font-size: 3rem;
}

.buttonContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1.5rem;
  margin-left: 1.5rem;
  font-size: 2rem;
}

.buttonContainer > div {
  cursor: pointer;
  width: 1.5rem;
}

.teamName {
  align-self: flex-start;
  flex-grow: 1;
}
