.content {
  display: flex;
  max-height: 95rem;
}

.teamsContainer {
  display: flex;
  flex-direction: column;
  width: 70rem;
  padding: 4rem 2rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  cursor: default;
  background-color: white;
  border-radius: 3rem;
  box-shadow: 2.5rem 2.5rem 2rem 0px rgba(0, 0, 0, 0.75);
  user-select: none;
  max-height: 100%;
}

.namesContainer {
  overflow-y: scroll;
  width: 100%;
  justify-self: flex-start;
  max-height: 85rem;
}

.namesContainer::-webkit-scrollbar-thumb {
  background-color: #9d9d9d;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.namesContainer::-webkit-scrollbar {
  width: 16px;
}

.buttonsContainer {
  width: 100%;
  justify-self: flex-end;
  display: flex;
  justify-content: space-evenly;
}

.button {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #9d9d9d;
  border-radius: 1rem;
}
