.answer {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.75rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  cursor: default;
}

.answer p {
  user-select: none;
  margin: 0;
  line-height: 1.5;
}
